.card-container {
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    height: fit-content;
    
}

.card-img {
    width: 100%;
    border-radius: 1rem;
}

.card-title , .card-description{
    margin: 0.5rem 5%;
}

.card-btn {
    text-align: center;
    width: 87%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    margin-right: 5px;

}

input, select{
    box-shadow:none, !important ;
    margin-top: 10px !important;
    border: 2px solid black !important;
}
.bs{
    overflow-x: hidden;
    
  }
