form {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    border-radius: 10px;
    height: 68vh; /* Ajustez la hauteur du formulaire en fonction de vos besoins */
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Répartit les éléments verticalement */
    align-items: center;
    margin-top: 50px;
    margin-right: 100px;
}

input[type="text"],
  textarea {
    width: 100%;
    padding: 1px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }

  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  button:hover {
    background-color: #538cc9;
  }

  .button{
    background-color: rgb(203, 202, 207);
    border-radius: 5px;
  }
  
