.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-link1 {
    color:black;
    text-decoration: none;
  }
  